---
interface Props {
  generator: string;
  title: string;
  description: string;
  keyword?: string;
  canonicalUrl: string;
  sitemapUrl: string;
  type: 'website' | 'article';
  noindex: boolean;
}

const {
  generator,
  title,
  description,
  keyword,
  canonicalUrl,
  sitemapUrl,
  type,
  noindex,
} = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={generator} />
<meta name="description" content={description} />
{keyword && <meta name="keywords" content={keyword} />}
<link rel="canonical" href={canonicalUrl} />
<link rel="sitemap" type="application/xml" href={sitemapUrl} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonicalUrl} />
<meta property="og:type" content={type} />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
{noindex && <meta name="robots" content="noindex, nofollow" />}
<title>{title}</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous" />
